<nav class="sidebar">
      <div class="sidebar-header">
        <a href="#" class="sidebar-brand">Fleet<span>Pilot</span></a>
        <div class="sidebar-toggler">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="sidebar-body">
        <ul class="nav" id="sidebarNav">
          <li class="nav-item nav-category" data-i18n="sidebar.category.main">Principal</li>
          <li class="nav-item">
            <a href="dashboard.html" class="nav-link">
              <i class="link-icon" data-lucide="box"></i>
              <span class="link-title" data-i18n="sidebar.link.dashboard">Inicio</span>
            </a>
          </li>
          <li class="nav-item nav-category" data-i18n="sidebar.category.customers">Conductores</li>
          <li class="nav-item">
            <a href="ListaConductores.html" class="nav-link">
              <i class="link-icon" data-lucide="users"></i>
              <span class="link-title" data-i18n="sidebar.category.customersList">Todos los conductores</span>
            </a>
          </li>
          <li class="nav-item nav-category">Inversores</li>
          <li class="nav-item">
            <a href="ListaInversores.html" class="nav-link">
              <i class="link-icon" data-lucide="briefcase"></i>
              <span class="link-title">Todos los inversores</span>
            </a>
          </li>
          <li class="nav-item nav-category">Vehículos</li>
          <li class="nav-item">
            <a href="ListaVehiculos.html" class="nav-link">
              <i class="link-icon" data-lucide="car"></i>
              <span class="link-title">Todos los vehículos</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
